.FFF{
  width: 400px;
  height: 200px;
  border: 3px blueviolet solid;
  background-color: aqua;
  z-index: 10;
 position: absolute;
 top:10px;
 left: 30px;

}
.PPP{
  width: 300px;
  height: 200px;
  border: 5px blue solid;
  background-color: brown;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}
.CCC{
  width: 500px;
  height: 300px;
  border: 1px black solid;
  position: absolute;
  top:100px;

}
.BBB{
  width: 600px;
  height: 200px;
  border: 1px black solid;
  position: absolute;
  top:100px;
  left: 700px;
}

var res = config('是否确认')
document.write(res)

var res2 = prompt('请输入一个数')
document.write(res2)
